.post-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    border-radius: 5px;
    background-color: #fafafa;

    .post-header,
    .post-footer {
        padding: 12px;
        align-items: center;
    }

    .post-header,
    .post-body,
    .post-footer {
        display: flex;
    }

    .post-header {
        border-radius: 5px 5px 0 0;
        justify-content: flex-start;

        .kordy {
            cursor: pointer;
            margin-left: 12px;
            font-size: 14px;
            font-family: 'Circular';
        }
    }

    .post-body {
        justify-content: flex-start;
        padding: 0 12px;
        flex-direction: column;

        &.has-images {
            padding: 0;
        }

        .post-images-wrapper {
            display: flex;
            background-color: #000000;
            min-height: 360px;

            div {
                width: 100%;
                display: flex;
            }

            .post-image {
                max-height: 480px;
                height: 100%;

                img {
                    object-fit: contain;
                    max-height: 360px;
                }
            }
        }

        .carousel {
            .carousel-status {
                font-family: 'Circular';
                padding: 12px;
            }

            .control-dots {
                padding: 0;
            }
        }
    }

    .post-footer {
        border-radius: 0 0 5px 5px;

        .action {
            cursor: pointer;
            margin: 0 12px 0 0;

            &:nth-last-child(1) {
                margin: 0;
            }

            .outline {
                display: block;
            }

            .full {
                display: none;
            }

            &:hover {
                .outline {
                    display: none;
                }

                .full {
                    display: block;
                }
            }
        }
    }
}
