.post-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 12px;

    .post-header,
    .post-footer {
        align-items: center;
    }

    .post-header,
    .post-body,
    .post-footer {
        display: flex;
    }

    .post-header {
        border-radius: 5px 5px 0 0;
        justify-content: flex-start;

        .kordy {
            cursor: pointer;
            margin-left: 12px;
            font-size: 14px;
            font-family: 'Circular';
        }
    }

    .post-body {
        justify-content: flex-start;
        padding: 24px 0;
        flex-direction: column;
    }

    .post-footer {
        border-radius: 0 0 5px 5px;

        .action {
            cursor: pointer;
            margin: 0 12px 0 0;

            &:nth-last-child(1) {
                margin: 0;
            }

            .outline {
                display: block;
            }

            .full {
                display: none;
            }

            &:hover {
                .outline {
                    display: none;
                }

                .full {
                    display: block;
                }
            }
        }
    }
}
