.layout,
.view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.view {
    min-width: 280px;
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #ffffff;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s linear;

    &.visible {
        opacity: 1;
        pointer-events: all;
    }
}

.header {
    background-color: #303030;
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    z-index: 2;

    &,
    .header-container {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-menu {
        display: flex;

        .option {
            padding: 6px;
            margin: auto 0;
        }

        .divider {
            width: 1px;
            height: 32px;
            margin: auto 12px;
            background-color: #e8e8e8;
        }
    }

    .logo {
        font-size: 20px;
    }
}

.nonexistent {
    pointer-events: none;
    opacity: 0;
}

.tooltip {
    font-family: 'Circular';
}
