a {
    text-decoration: none;
}

.title {
    font-family: 'Circular';
    font-size: 24px;
}

.sub-title {
    font-family: 'Circular';
    font-size: 18px;
}

.logo {
    cursor: pointer;
    font-family: 'Circular';
    font-size: 36px;
}
