.border {
    box-shadow: 0 0 1px 1px #000000;
}

.elevation {
    box-shadow: 0px 0px 2px -2px rgba(0, 0, 0, 1),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.shine {
    background: #e8e8e830;
    background-image: linear-gradient(
        to right,
        #00000000 0%,
        #edeef150 30%,
        #f6f7f850 40%,
        #00000000 100%
    );
    background-size: 500px;
    background-repeat: no-repeat;
    position: relative;

    animation: shine 1s linear infinite forwards;

    &.slow {
        animation-duration: 2s;
    }
}

.skeleton {
    pointer-events: none;

    .shine {
        > * {
            opacity: 0;
        }
    }
}

@keyframes shine {
    0% {
        background-position-x: -500px;
    }

    100% {
        background-position-x: 700px;
    }
}
