.chat-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fafafa;

    .chat-header {
        height: 48px;
        background-color: #303030;
        border-radius: 5px 5px 0 0;
    }

    .chat-body {
        display: flex;
        flex-direction: column;
        max-height: 540px;
        overflow-y: visible;
        overflow-y: auto;
        padding: 24px;
        height: 100%;

        .message {
            display: flex;
            flex-direction: column;
            min-width: 100px;
            padding: 6px 12px 8px;
            background-color: #e8e8e8;
            border-radius: 5px;
            margin: 3px 0;
            align-self: flex-start;

            &.is-user {
                align-items: flex-end;
                align-self: flex-end;
                background-color: #303030;
                color: #ffffff;
            }

            .user {
                font-family: 'Circular';
            }
        }
    }

    .chat-footer {
        display: flex;
        height: auto;
        justify-content: space-between;
        border-radius: 0 0 5px 5px;
        padding: 12px;

        form {
            display: flex;
            width: 100%;
        }

        .chat-input {
            width: 100% !important;
            border-radius: 5px 0 0 5px !important;
        }

        #send {
            border-radius: 0 5px 5px 0;
        }
    }
}
