@import '../assets/styles/core/colors';

.feed {
    z-index: 1;
    background-color: $secondary;
    padding: 24px;
    min-width: 280px;
    flex-direction: column;

    .feed-header {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .feed-posts {
        width: 100%;
        height: 100%;
    }
}

.create-post-modal {
    width: 100%;
}
