.nav {
    min-width: 200px;
    max-width: 280px;
    width: 100%;
}

.side-nav,
.friends-nav {
    padding: 24px;
    background-color: #505050;
}

.side-nav {
    .user-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile-image {
            width: 48px;
            height: 48px;
            background-color: #ffffff;
            border-radius: 50%;
        }
    }

    .button {
        width: 100%;
    }
}
