@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'),
        url(../fonts/circular-bold.woff) format('woff');
}

* {
    user-select: none;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;

    &.overflow {
        overflow-y: scroll;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    @import './core/colors';
    @import './core/layout';
    @import './core/typography';
    @import './elements/display';
    @import './elements/buttons';
    @import './elements/form';
    @import './effects/effects';
    @import './effects/skeleton';

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: $primary;
}
