.auth {
    .grid {
        max-width: 400px;
        flex-grow: 1;

        .grid-item {
            width: 100%;
            padding: 6px 0;
        }
    }

    .paper {
        padding: 24px;
        text-align: center;
    }

    .form {
        padding: 12px 0;
        width: 100%;
        align-items: center;

        .input {
            margin: auto;
        }
    }

    .button {
        width: 100%;
        margin: 12px 0 0;
    }
}
