.dashboard {
    flex-direction: column;

    .dashboard-container,
    .dashboard-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .menu,
    .friends-nav {
        background-color: #505050;
        width: 40%;
        height: 100%;
    }
}
